.drawbars {
  border: 1px solid red;
  margin: 0.5em 0;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  height: 15.25em;
}

.drawbar-container {
  overflow: hidden;
}

.drawbar {
  font-family: "Cabin", sans-serif;
  margin: 0 0.1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawbar-track-segment {
  border-top: 1px solid green;
  width: 1.75em;
  line-height: 1.5em;
  color: #efdcd6;
  text-align: center;
  border-left: 0.2em solid #efdcd6;
  border-right: 0.2em solid #efdcd6;
  background: #312d29;
}

.drawbar-track-hidden .drawbar-track-segment {
  color: transparent;
  border: none;
  background: none;
}

.drawbar-track-segment.hidden {
  display: none;
}

.drawbar-thumb {
  width: 2.25em;
  height: 3.25em;
  line-height: 3.25em;
  text-align: center;
}

.drawbar-thumb.brown {
  background-color: brown;
  color: #efdcd6;
}

.drawbar-thumb.white {
  background-color: white;
  color: #312d29;
}

.drawbar-thumb.black {
  background-color: black;
  color: #efdcd6;
}
