* {
  box-sizing: border-box;
}

.header {
  margin: 0.5em;
  background-color: silver;
}

.key {
  position: relative;
  float: left;
  display: inline-block;
  padding: 0.2em;
  width: 2em;
  height: 8em;
  border: 1px solid grey;
}

.key .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.white {
  z-index: 1;
}

.black {
  z-index: 2;
  background-color: black;
  color: white;
  width: 1em;
  margin-left: -0.5em;
  height: 5em;
}

.black + .white {
  margin-left: -0.5em;
}

.black .label {
  display: none;
}
