* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Open Sans", "Lucida Grande", "Arial", sans-serif;
}

.header {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: silver;
}

.keyboard {
  display: inline-block;
  overflow: auto;
  width: auto;
  background-color: #4a2511;
  padding: 3em;
  border-radius: 0.5em;
}

.logo {
  font-family: "Pacifico", cursive, sans-serif;
  color: white;
  font-size: 2rem;
  margin-top: -0.4em;
}

.key {
  position: relative;
  cursor: pointer;
  float: left;
  display: inline-block;
  padding: 0.2em;
  width: 2em;
  height: 8em;
  border: 1px solid grey;
}

.key .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.white {
  color: grey;
  background-color: white;
  z-index: 1;
  border-radius: 0 0 0.3em 0.3em;
}

.black {
  z-index: 2;
  background-color: black;
  color: white;
  width: 1em;
  margin-left: -0.5em;
  height: 5em;
  border-radius: 0 0 0.2em 0.2em;
}

.white:hover {
  background-color: #ddd;
}

.black:hover {
  background-color: #333;
}

.white.pressed,
.black.pressed {
  background-color: #33e;
}

.black + .white {
  margin-left: -0.5em;
}

.black .label {
  display: none;
}
